[Service]
ExecStart=
ExecStart=/usr/sbin/varnishd -j unix,user=vcache -F -a 0.0.0.0:80 -f /etc/varnish/default.vcl -S /etc/varnish/secret -s malloc,1024m