@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000" style="font-size:30px">
    <br>
    <br>
    <p>
        <strong>
            GUID:@Guid.NewGuid().ToString()
        </strong>
    </p>
    <p>
        <strong>
            Date:@DateTime.Now.ToString()
        </strong>
    </p>
    <br>
    <br>
</div>
